@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-coffee-dark: #1a120b;
  --color-coffee-medium: #3c2a21;
  --color-coffee-light: #d5cea3;
  --color-coffee-cream: #ebe3d5;
}
